@model IEnumerable<BachHoaXanh.Data.Models.Product>
@{
    ViewBag.Title = "BestSeller";
    Layout = null;
}
<div class="container">
    <h3 class="tittle1">Best Sellers cùng loại</h3>\
    <div class="arrivals-grids">

        @foreach (var item in Model)
        {
            <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                <div class="grid-arr">
                    <div class="grid-arrival">
                        <figure>
                            <img src="@Url.Content(item.Image1)" class="img-responsive" alt="">
                        </figure>
                    </div>
                    <div class="ribben">
                        <p>HOT/p>
                    </div>
                    <div class="ribben1">
                        <p>SALE</p>
                    </div>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>

                    <div class="women">
                        <h6>@item.Name</h6>
                        @Html.ActionLink("Xem sản phẩm", "Details", new { id = item.Id })

                        <p><del>@item.Price</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                    </div>

                </div>
            </div>
        }
        @*<div class="col-md-3 arrival-grid simpleCart_shelfItem">
                <div class="grid-arr">
                    <div class="grid-arrival">
                        <figure>
                            <a href="single.html">
                                <div class="grid-img">
                                    <img src="images/p30.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="grid-img">
                                    <img src="images/p29.jpg" class="img-responsive" alt="">
                                </div>
                            </a>
                        </figure>
                    </div>
                    <div class="ribben2">
                        <p>OUT OF STOCK</p>
                    </div>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                <div class="grid-arr">
                    <div class="grid-arrival">
                        <figure>
                            <a href="single.html">
                                <div class="grid-img">
                                    <img src="images/s2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="grid-img">
                                    <img src="images/s1.jpg" class="img-responsive" alt="">
                                </div>
                            </a>
                        </figure>
                    </div>
                    <div class="ribben1">
                        <p>SALE</p>
                    </div>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                    </div>
                </div>
            </div>*@
        <!--<div class="col-md-3 arrival-grid simpleCart_shelfItem">
        <div class="grid-arr">
            <div class="grid-arrival">
                <figure>
                    <a href="single.html">
                        <div class="grid-img">
                            <img src="images/s4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="grid-img">
                            <img src="images/s3.jpg" class="img-responsive" alt="">
                        </div>
                    </a>
                </figure>
            </div>-->
        @*<div class="ribben">
                <p>NEW</p>
            </div>
            <div class="block">
                <div class="starbox small ghosting"> </div>
            </div>*@
        @*<div class="women">
                <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                <span class="size">XL / XXL / S </span>
                <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
            </div>*@
        <!--</div>
        </div>-->

        <div class="clearfix"></div>
    </div>
</div>