@model IEnumerable<BachHoaXanh.Data.Models.Product>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<link href="~/Content/css/style.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Id)
    @*@Html.Partial("ProductSummary", item);*@
}
