<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="error-404">
        <div class="error-page">
            <img src="~/Images/404.png" alt="">
        </div>
        <div class="error-right">
            <h2>Oops! Page Not Open</h2>
            <h4>Nothing Is Found Here!!</h4>
            <a href="/Main/Index">Go Back</a>
        </div>
    </div>
</body>
</html>
