
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <h3>Vui lòng nhập địa chỉ mail của bạn, để có thể lấy mật khẩu mới</h3>
    <div>
        <form action="/Login/ForgetPassword" method="post">
            <input type="text" id="email" name="email">
            <input type="submit" value="GỬI">

        </form>
    </div>
    <h4 style="color:orangered">@ViewBag.message</h4>
    @if (ViewBag.message == "Hãy kiểm tra hòm thư của bạn")
    {
        <a href="/Main/Index">Về trang chủ</a>
    }
</body>
</html>
