@*@model IEnumerable<BachHoaXanh.Data.Models.Product>*@

@model BachHoaXanh.Data.Models.Product

@*<ul class="nav navbar-nav nav_1">
        @foreach (var danhmuc in Model)
        {
            <li><a href=""> @danhmuc.Name</a></li>
        }

    </ul>*@
@*@foreach (var sp in Model)*@
{
        <img src="@Url.Content(Model.Image1)" data-imagezoom="true" class="img-responsive">
        <!--<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
            <div class="w3ls_vegetables">
                <ul>
                    <span class="caret"></span>-->
        @*<a href="/Classify/Classify?CategoryID=@danhmuc.Id">@ViewBag.classify</a>*@
        @*@Html.Action("Classify", "Classify") ;*@

        <!--</ul>
            </div>
        </div>-->
   
}
